<section>
    <div class="callout callout--primary">
        <div class="grid grid--1x2">
            <div class="callout__content">
                <h2 class="callout__heading" >Ready to get started</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia impedit doloremque inventore rem? Perferendis doloribus molestias tenetur, nesciunt assumenda at.</p>
            </div>
            <a href="#" class="btn btn--secondary btn--strechted">Get started</a>
        </div>
    </div>
</section>